
.outer{
   
    margin: auto;
    width: 95%;
    max-width :500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height:200px;
    background-color: #734f96;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    padding: 20px;
}

.section1 input{
        padding: 5px 30px;
        flex: 1;
       
}
.section1 input:focus{
    outline: none;
}
.section1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;

}

#addbtn{
    background-color: rebeccapurple;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.task-list{


    margin: auto;
    width: 95%;
    max-width: 500px;
    border-radius:30px;
    min-height:400px;
    height: auto;
    margin-top: -60px;
    background-color:white;
    box-sizing: border-box;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px ;
    display: block; 
      
    
     
}
#no-task {
    text-align: center;
    margin-top: 50px;
}


#task {
    list-style: none;
    margin-top: 20px; 
   
    text-align: left;
     padding: 0;
}
#task li {
    padding: 15px 15px;
    margin-bottom: 5px; 
    border-bottom: 1px solid #f0f0f0; 
    font-size: 18px;
    text-align: left; 
    background-color: #9864cd; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

#task li button{
    background-color: rebeccapurple;
    border: none;
    padding: 10px 20px;
     color: white;  
     border-radius: 10px;
     flex-shrink: 0;
    
}
#task li span{
    word-break: break-word;
    flex: 1;
}